@*Page Name:Patrons
  Page Description: This page is for seaching patrons*@


@page "/Librarian/Patrons/Search"
@layout LibrarianLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model
@using Microsoft.AspNetCore.Components.Forms
@inject ParentService ParentService
@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;font-weight: bolder;color:#013E7E">Search Patrons</h3>
<br>



@if (patrons == null)
{
    <p style="color:red">loading....</p>
}


else
{
    <div class="form-group">

        <Select @onchange="patronChange">
            <option value="">-- Select Patron Type --</option>
            @foreach (var type in Enum.GetValues(typeof(PatronType)))
            {


                <option value="@(type)"> @(type)</option>
            }
        </Select>
    </div>

    <div style="visibility:@Studentvisible;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@students" TItem="Student" Value="@student" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="Student" Property="Patron.ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.Patron.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Student" Property="Patron.FullName" Title="Name  " />
                <RadzenGridColumn TItem="Student" Property="StudentId" Title="StudentId" />
                <RadzenGridColumn TItem="Student" Property="ClassYear" Title="Class Year" />
                <RadzenGridColumn TItem="Student" Property="ClassName" Title="ClassName" />
                <RadzenGridColumn TItem="Student" Property="HomeRoomTeacher" Title="HomeRoom Teacher" />
                <RadzenGridColumn TItem="Student" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Librarian/Student/Details/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>

    <div style="visibility:@Teachervisible;margin-top:-500px">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@teachers" TItem="Teacher" Value="@teacher" ColumnWidth="200px" >
            <Columns>
                <RadzenGridColumn TItem="Teacher" Property="Patron.ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.Patron.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Teacher" Property="Patron.FullName" Title="First Name  " />
                <RadzenGridColumn TItem="Teacher" Property="EmployeeId" Title="EmployeeId" />
                <RadzenGridColumn TItem="Teacher" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Librarian/Teacher/Details/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>






}





@code
{

    IEnumerable<Patron> patrons;

    RadzenGrid<Patron> patronsGrid;

    Patron patron;
    IQueryable<Patron> patronss;

    Student student;
    IQueryable<Student> students;

    Teacher teacher;
    IQueryable<Teacher> teachers;

    LMSDbContext db = new LMSDbContext();

    string patronType { get; set; }
    string Teachervisible = "hidden";
    string Studentvisible = "hidden";

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        patrons = DbContext.Patron.Include("Student").Include("Teacher").ToList();

        patronss = db.Patron
       .Include("Student")
       .Include("Teacher");

        students = db.Student
       .Include("Patron");

        teachers = db.Teacher
      .Include("Patron");

        patron = patronss.FirstOrDefault();
    }

    //Method to change patron type
    private void patronChange(ChangeEventArgs patronEvent)
    {
        patronType = (patronEvent.Value.ToString());

        if (patronType == "Student")
        {
            Studentvisible = "visible";
            Teachervisible = "hidden";
        }

        else if (patronType == "Teacher")
        {
            Teachervisible = "visible";
            Studentvisible = "hidden";
        }

    }
}

