@*Page Name:Delete Donor
    Page Description: This page is for deleting an donor from the database*@

@page "/Donor/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject DonorService DonorService


<div class="container" style="margin-left:1em">
    <h3>Delete Donor</h3>

    <div class="alert alert-danger ">
        Do you want to Delete this Donor?
        <br>
        <br>
        Note: This Donor will not be deleted if it is linked to a library material.

    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@donor.FirstName  @donor.MiddleName  @donor.LastName</td>
        </tr>
        <tr>
            <th>Mobile: </th>
            <td>@donor.Mobile</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@donor.Email</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 160px;" @onclick="RemoveDonor">Delete Donor</button>
    <a href="/Donors/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Donor donor = new Donor();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        donor = DonorService.GetDonor(Id);
    }

    // Deleting a donor from the database
    private void RemoveDonor()
    {
        DonorService.DeleteDonor(Id);

        NavigationManager.NavigateTo("/Donors/Search");
    }



}