@*Page Name: Hold Details
    Page Description: This page is for showing the infromation and details of a hold*@

@page "/Student/Hold/Details/{Id:int}"
@inject HoldService HoldService
@layout StudentLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;

<div class="container">
    <div class="container-fluid container-contact100">
        <div class="wrap-contact100">
            <h3>Hold Details</h3>

            <table class="table table-hover ">


                <tr>
                    <td>Library Material Title: </td>
                    <td>@hold.LibraryMaterial.Title</td>
                </tr>

                <tr>
                    <td>Hold Date & Time::</td>
                    <td>@hold.HoldDateTime</td>
                </tr>

                <tr>
                    <td>Expiry Date & Time:</td>
                    <td>@hold.ExpiryDateTime</td>
                </tr>

                <tr>
                    <td>Pickup Date & Time: </td>
                    <td>@hold.PickupDateTime</td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>@hold.HoldStatus</td>
                </tr>


                <tr>
                    <td>Remark: </td>
                    <td>@hold.Remark</td>
                </tr>

            </table>


            <a href="/Student/Hold/Edit/@Id" class="btn btn-outline-primary" role="button">Edit</a>
            <a href="/Student/MyLibraryMaterials" class="btn btn-outline-secondary" role="button">Back</a>
            <div class="mt-4"></div>
        </div>
    </div>
</div>

@code {


    Hold hold = new Hold();
    List<Hold> borrowings = new List<Hold>();

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        hold = HoldService.GetHold(Id);
    }
}
