@*Page Name:Edit Parent
  Page Description: This page is for edting a parent information*@

@page  "/Parent/Edit/{Id:int}"
@inject NavigationManager NavigationManager
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@layout SystemAdminLayout
@inject ParentService ParentService
@inject LMSDbContext DbContext


<div class="container-fluid container-contact100">
    <div class="wrap-contact100">
        <h3>Edit Parent Information</h3>
        <fieldset>

            <EditForm Model="parent" OnValidSubmit="UpdateParent">
                <DataAnnotationsValidator />
                <ValidationSummary />


                <div class="form-group">
                    <label for="first-name">*First Name:</label>
                    <InputText id="first-name" @bind-Value="parent.FirstName" class="form-control" placeholder="Enter Parent Fisrt Name" />
                </div>

                <div class="form-group">
                    <label for="middle-name">*Middle Name:</label>
                    <InputText id="middle-name" @bind-Value="parent.MiddleName" class="form-control" placeholder="Enter Parent Middle Name" />
                </div>

                <div class="form-group">
                    <label for="last-name">*Last Name:</label>
                    <InputText id="last-name" @bind-Value="parent.LastName" class="form-control" placeholder="Enter Parent Last Name" />
                </div>



                <div class="form-group">
                    <label style="display: flex; align-items: center">
                        <span style="margin-right: 32px">*Relation:</span>
                        <RadzenDropDown Data="@relation" @bind-Value="parentRelation" Change="ChooseRelation" />
                    </label>
                </div>

                <div class="form-group">
                    <label style="display: flex; align-items: center">
                        <span style="margin-right: 32px">*Language:</span>
                        <RadzenDropDown Data="@language" @bind-Value="parentLanguage" Change="ChooseLanguage" />
                    </label>
                </div>



                <div class="form-group">
                    <label style="display: flex; align-items: center">
                        <span style="margin-right: 32px">*Gender:</span>
                        <RadzenDropDown Data="@gender" @bind-Value="genderParent" Change="ChooseGender" />
                    </label>
                </div>


                <div class="form-group">
                    <label for="Primary Contact Number">*Primary Contact Number:</label>
                    <InputText id="Primary Contact Number" @bind-Value="parent.PrimaryContactNumber" class="form-control" placeholder="0500000000" />
                </div>

                <div class="form-group">
                    <label for="Secondary Contact Number">Secondary Contact Number:</label>
                    <InputText id="Secondary Contact Number" @bind-Value="parent.SecondaryContactNumber" class="form-control" placeholder="0500000000" />
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">*Primary Email: </label>
                    <InputText type="email" id="email" @bind-Value="parent.PrimaryEmail" class="form-control" placeholder="sam@example.com" />
                    <ValidationMessage For="@(() => parent.PrimaryEmail)" />
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">Secondary Email: </label>
                    <InputText type="email" id="email" @bind-Value="parent.SecondaryEmail" class="form-control" placeholder="sam@example.com" />
                    <ValidationMessage For="@(() => parent.SecondaryEmail)" />
                </div>


                <div class="form-group">
                    <label style="display: flex; align-items: center">
                        <span style="margin-right: 32px">*Address:</span>
                        <RadzenDropDown AllowClear="true" TValue="int"
                                        LoadData="@LoadData" AllowFiltering="true"
                                        Data="@parentAddresses" TextProperty="StreetName" ValueProperty="AddressId" @bind-Value="parent.AddressId" Style="margin-bottom: 20px"
                                        Change="@(args => Change(args, "DropDown with custom filtering"))" />
                    </label>
                </div>
                <br />

                <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                <a href="/Parents/Search" class="btn btn-outline-secondary">Cancel</a>
                <div class="mt-4"></div>
            </EditForm>
        </fieldset>
    </div>
</div>


<br />

<p>@message</p>

@code {

    [Parameter]
    public int Id { get; set; }

    Parent parent = new Parent();

    string message;

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        parent = ParentService.GetParent(Id);
    }


    // Edting and updating parent infromation 
    public void UpdateParent()
    {

        // Edit Parent
        ParentService.EditParent(parent);

        message = "Parent updated successfully";

        // May navigate to the Parents Search Page
        NavigationManager.NavigateTo("Parents/Search");
    }
}

@code
{
    //Code for gender drop down list
    IEnumerable<ParentGender> gender = Enum.GetValues(typeof(ParentGender)).Cast<ParentGender>();

    int genderValue;

    ParentGender genderParent;

    //Method For biding the value to the database
    public void ChooseGender()
    {
        genderValue = (int)genderParent;
        parent.Gender = genderValue;
    }

    //Code for language drop down list
    IEnumerable<ParentLanguage> language = Enum.GetValues(typeof(ParentLanguage)).Cast<ParentLanguage>();

    int languageValue;

    ParentLanguage parentLanguage;

    //Method For biding the value to the database
    public void ChooseLanguage()
    {
        languageValue = (int)parentLanguage;
        parent.Language = languageValue;
    }

    //Code for relation drop down list
    IEnumerable<ParentRelation> relation = Enum.GetValues(typeof(ParentRelation)).Cast<ParentRelation>();

    int relationValue;

    ParentRelation parentRelation;

    //Method For biding the value to the database
    public void ChooseRelation()
    {
        relationValue = (int)parentRelation;
        parent.Relation = relationValue;
    }


}


@code
{



    IEnumerable<Address> parentAddresses;

    void Change(object value, string name)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;

        StateHasChanged();
    }

    void LoadData(LoadDataArgs args)
    {
        var query = DbContext.Address.AsQueryable();

        parentAddresses = query.ToList();

        InvokeAsync(StateHasChanged);
    }
}
