@*Page Name:Delete Patron
    Page Description: This page is for deleting a patron from the database*@

@page "/Patron/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject PatronService PatronService
@inject StudentService StudentService
@inject TeacherService TeacherService


<div class="container" style="margin-left:1em">
    <h3>Delete Patron</h3>

    <div class="alert alert-danger">
        Do you want to delete this Patron?
        <br>
        <br>
        Note: This Patron will not be deleted if it is linked to a borrowing or a hold.

    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@patron.FirstName @patron.MiddleName  @patron.LastName</td>
        </tr>
        <tr>
            <th>Primary Contact Number: </th>
            <td>@patron.PrimaryContactNumber</td>
        </tr>
        <tr>
            <th>Primary Email:</th>
            <td>@patron.PrimaryEmail</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 160px;" @onclick="RemovePatron">Delete Patron</button>
    <a href="/Patrons/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Patron patron = new Patron();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        patron = PatronService.GetPatron(Id);
    }

    // Deleting a patron from the database
    private void RemovePatron()
    {
        //check if patron is student or teacher to delete it
        if (patron.PatronType == 1)
        {
            StudentService.DeleteStudent(Id);
        }

        else if (patron.PatronType == 2)
        {
            TeacherService.DeleteTeacher(Id);
        }

        //Delete patron
        PatronService.DeletePatron(Id);



        // May navigate to the patron Search Page
        NavigationManager.NavigateTo("/Patrons/Search");
    }



}
