@page "/Material/Search"
@layout SystemAdminLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model
@using Microsoft.AspNetCore.Components.Forms
@inject Library_MaterialService Library_MaterialService
@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;font-family: Courier New, Courier, monospace;font-weight: bolder;">Search Patrons</h3>



@if (materials == null)
{
    <p style="color:red">loading....</p>
}


else
{
    <div class="form-group">

        <Select @onchange="materialChange">
            <option value="">-- Select Library Material Type --</option>
            @foreach (var type in Enum.GetValues(typeof(LibraryMaterialType)))
            {


                <option value="@(type)"> @(type)</option>
            }
        </Select>
    </div>

    <div style="visibility:@Bookvisible;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="8"
                    AllowSorting="true" Data="@books" TItem="Book" Value="@book" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Book" Property="Library_Material.ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.LibraryMaterial.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Title" Title="Title " />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.AccessionNumber" Title="Accession Number" />
                @*<RadzenGridColumn TItem="Book" Property="LibraryMaterial_Author.Author.FullName" Title="Author" />*@
                <RadzenGridColumn TItem="Book" Property="ISBN" Title="ISBN" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.YearPublished" Title="Year Published" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Language" Title="Language" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Genre" Title="Genre" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Subject" Title="Subject" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Status" Title="Status" />
                <RadzenGridColumn TItem="Book" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Catalog/Details/@data.LibraryMaterialId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Book" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

                    <Template Context="data">
                        <a href="/Catalog/Delete/@data.LibraryMaterialId">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                        </a>
                    </Template>

                </RadzenGridColumn>


            </Columns>
        </RadzenGrid>
    </div>

    @*<div style="visibility:@Teachervisible;margin-top:-210px">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@teachers" TItem="Teacher" Value="@teacher" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Teacher" Property="Patron.ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Style="width:60px; height:80px" Path="@data?.Patron.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Teacher" Property="Patron.FullName" Title="First Name  " />
                <RadzenGridColumn TItem="Teacher" Property="EmployeeId" Title="EmployeeId" />
                <RadzenGridColumn TItem="Teacher" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Teacher/Details/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Teacher" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

                    <Template Context="data">
                        <a href="/Patron/Delete/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>*@

    @*<div style="visibility:@Teachervisible;">
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                        AllowSorting="true" Data="@patronss" TItem="Patron" Value="@patron" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
                <Columns>
                    <RadzenGridColumn TItem="Patron" Property="ImageFile" Title="Photo" Sortable="false" Filterable="false">
                        <Template Context="data">
                            <RadzenImage Style="width:60px; height:80px" Path="@data?.ImageFile" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Patron" Property="FirstName" Title="First Name  " />
                    <RadzenGridColumn TItem="Parent" Property="MiddleName" Title="Middle Name" />
                    <RadzenGridColumn TItem="Patron" Property="LastName" Title="Last Name" />
                    <RadzenGridColumn TItem="Patron" Property="Teacher.EmployeeId" Title="EmployeeId" />


                    <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                        <Template Context="data">
                            <a href="/Patron/Details/@data.PatronId">
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                            </a>
                        </Template>



                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

                        <Template Context="data">
                            <a href="/Patron/Delete/@data.PatronId">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                            </a>
                        </Template>

                    </RadzenGridColumn>


                </Columns>
            </RadzenGrid>
        </div>*@





}





@code
{

    IEnumerable<Library_Material> materials;

    RadzenGrid<Library_Material> materialsGrid;

    LMSDbContext db = new LMSDbContext();

    string materialType { get; set; }
    string Bookvisible = "hidden";
    string Studentvisible = "hidden";

    protected override void OnInitialized()
    {
        materials = DbContext.Library_Material.Include("Book").Include("Journal").ToList();

        libraryMaterials = db.Library_Material
       .Include("Book")
       .Include("Journal");

        books = db.Book
       .Include("Library_Material");

        //  teachers = db.Teacher
        //.Include("Patron");

        libraryMaterial = libraryMaterials.FirstOrDefault();
    }

    //Method to change patron type
    private void materialChange(ChangeEventArgs materialEvent)
    {
        materialType = (materialEvent.Value.ToString());

        if (materialType == "Book")
        {
            Bookvisible = "visible";
            //Teachervisible = "hidden";
        }

        //else if (patronType == "Teacher")
        //{
        //    Teachervisible = "visible";
        //    Studentvisible = "hidden";
        //}

    }
}

@code {
    Library_Material libraryMaterial;
    IQueryable<Library_Material> libraryMaterials;

    Book book;
    IQueryable<Book> books;

    Teacher teacher;
    IQueryable<Teacher> teachers;


}
