@*Page Name:Search Library Materials
    Page Description: This page is for seaching library materials*@



@page "/Catalog/Search"
@layout SystemAdminLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model
@using Microsoft.AspNetCore.Components.Forms
@inject Library_MaterialService Library_MaterialService
@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;color:#013E7E;font-weight: bolder;">Search Library Materials</h3>



@if (matrials == null)
{
    <p style="color:red">loading....</p>
}


else
{
    <div class="form-group">

        <Select @onchange="MaterialChange">
            <option value="">Select Type</option>
            @foreach (var type in Enum.GetValues(typeof(LibraryMaterialType)))
            {


                <option value="@(type)"> @(type)</option>
            }
        </Select>
    </div>

    <div style="visibility:@Bookvisible;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@books" TItem="Book" Value="@book" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.LibraryMaterial.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Title" Title="Title " />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.AccessionNumber" Title="Accession Number" />
                @*<RadzenGridColumn TItem="Book" Property="LibraryMaterial_Author.Author.FullName" Title="Author" />*@
                <RadzenGridColumn TItem="Book" Property="ISBN" Title="ISBN" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.YearPublished" Title="Year Published" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Language" Title="Language" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Genre" Title="Genre" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Subject" Title="Subject" />
                <RadzenGridColumn TItem="Book" Property="LibraryMaterial.Status" Title="Status" />
                <RadzenGridColumn TItem="Book" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Book/Details/@data.LibraryMaterialId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>

    <div style="visibility:@Journalvisible;margin-top:-80px">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@journals" TItem="Journal" Value="@journal" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Journal" Property="ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.LibraryMaterial.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Journal" Property="Library_Material.Title" Title="Title " />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.AccessionNumber" Title="Accession Number" />
                @*<RadzenGridColumn TItem="Journal" Property="LibraryMaterial_Author.Author.FullName" Title="Author" />*@
                <RadzenGridColumn TItem="Journal" Property="ISSN" Title="ISSN" />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.YearPublished" Title="Year Published" />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.Language" Title="Language" />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.Genre" Title="Genre" />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.Subject" Title="Subject" />
                <RadzenGridColumn TItem="Journal" Property="Library_Material.Status" Title="Status" />
                <RadzenGridColumn TItem="Journal" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Journal/Details/@data.LibraryMaterialId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>

    <div style="visibility:@CD_DVD_BR_visible;margin-top:-80px">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                    AllowSorting="true" Data="@cD_DVD_BRs" TItem="CD_DVD_BR" Value="@cD_DVD_BR" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="CD_DVD_BR" Property="ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.LibraryMaterial.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.Title" Title="Title " />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.AccessionNumber" Title="Accession Number" />
                @*<RadzenGridColumn TItem="CD_DVD_BR" Property="LibraryMaterial_Author.Author.FullName" Title="Author" />*@
                <RadzenGridColumn TItem="CD_DVD_BR" Property="ISBN" Title="ISBN" />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.YearPublished" Title="Year Published" />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.Language" Title="Language" />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.Genre" Title="Genre" />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.Subject" Title="Subject" />
                <RadzenGridColumn TItem="CD_DVD_BR" Property="Library_Material.Status" Title="Status" />
                <RadzenGridColumn TItem="CD_DVD_BR" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/CD_DVD_BR/Details/@data.LibraryMaterialId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>




}





@code
{
    //library material code
    IEnumerable<Library_Material> matrials;
    RadzenGrid<Library_Material> matrialsGrid;
    Library_Material libraryMaterial;
    IQueryable<Library_Material> libraryMaterials;

    //Book code
    Book book;
    IQueryable<Book> books;

    //Journal code
    Journal journal;
    IQueryable<Journal> journals;

    // CD/DVD/BR code
    CD_DVD_BR cD_DVD_BR;
    IQueryable<CD_DVD_BR> cD_DVD_BRs;

    LMSDbContext db = new LMSDbContext();

    string libraryMaterialType { get; set; }

    string Bookvisible = "hidden";
    string Journalvisible = "hidden";
    string CD_DVD_BR_visible = "hidden";

    protected override void OnInitialized()
    {
        //matrials = DbContext.Library_Material.Include("Book").Include("Journal").Include("CD_DVD_BR").ToList();

        libraryMaterials = db.Library_Material.Include("Book").Include("Journal").Include("CD_DVD_BR");

        books = db.Book.Include("Library_Material");

        journals = db.Journal.Include("Library_Material");

        cD_DVD_BRs = db.CD_DVD_BR.Include("Library_Material");

        libraryMaterial = libraryMaterials.FirstOrDefault();
    }

    //Method to change library matrial type
    private void MaterialChange(ChangeEventArgs libraryMaterialEvent)
    {
        libraryMaterialType = (libraryMaterialEvent.Value.ToString());

        //Shows datagrid of only books
        if (libraryMaterialType == "Book")
        {
            Bookvisible = "visible";
            Journalvisible = "hidden";
            CD_DVD_BR_visible = "hidden";
        }

        //Shows datagrid of only journals
        else if (libraryMaterialType == "Journal")
        {
            Journalvisible = "visible";
            Bookvisible = "hidden";
            CD_DVD_BR_visible = "hidden";
        }

        //Shows datagrid of only CD/DVD/BR
        else if (libraryMaterialType == "CdDvdBr")
        {
            CD_DVD_BR_visible = "visible";
            Journalvisible = "hidden";
            Bookvisible = "hidden";

        }

    }
}

