@*Page Name: Hold Details
    Page Description: This page is for showing the infromation and details of a hold*@

@page "/Hold/Details/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject HoldService HoldService


<div class="container">
    <div class="container-fluid container-contact100">
        <div class="wrap-contact100">
            <h3>Hold Details</h3>

            <table class="table table-hover ">

                <tr>
                    <td>Patron Name: </td>
                    <td>@hold.Patron.FullName</td>
                </tr>

                <tr>
                    <td>Library Material Title: </td>
                    <td>@hold.LibraryMaterial.Title</td>
                </tr>

                <tr>
                    <td>Hold Date & Time::</td>
                    <td>@hold.HoldDateTime</td>
                </tr>

                <tr>
                    <td>Expiry Date & Time:</td>
                    <td>@hold.ExpiryDateTime</td>
                </tr>

                <tr>
                    <td>Pickup Date & Time: </td>
                    <td>@hold.PickupDateTime</td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>@hold.HoldStatus</td>
                </tr>


                <tr>
                    <td>Remark: </td>
                    <td>@hold.Remark</td>
                </tr>

            </table>


            <a href="/Hold/Edit/@Id" class="btn btn-outline-primary" role="button">Edit</a>
            <a href="/Hold/Delete/@Id" class="btn btn-outline-danger" role="button">Delete</a>
            <a href="/Circulation" class="btn btn-outline-secondary" role="button">Back</a>
            <div class="mt-4"></div>
        </div>
    </div>
</div>

@code {


    Hold hold = new Hold();
    List<Hold> borrowings = new List<Hold>();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        //Get the hold detials 
        hold = HoldService.GetHold(Id);
    }
}
